<section class="instructions">
  <h2>Welcome to the Palette Extractor Demo!</h2>
  <p>Upload an image to extract its color palette</p>
</section>

<style>
  .instructions {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    color: #fff;
    text-align: center;
    padding-block-end: 1rem;
  }
</style>
